.ni-beer {
  padding: 0 0 pxem(40) 0;

  &-categories {
    @include col(12);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: pxem(40);

    @include mq($from: $breakpoint-small) {
      justify-content: flex-end;
    }

    h2 {
      margin-bottom: pxem(10);
      width: 100%;
      text-align: left;
      @include bold-12($color-medium-gray);

      @include mq($from: $breakpoint-small) {
        text-align: right;
      }
    }
  }

  &-category {
    display: flex;
    align-items: center;
    margin: 0 pxem(20) 0 0;

    @include mq($from: $breakpoint-small) {
      margin: 0 0 0 pxem(20);
    }


    span {
      @include bold-12($dark-text);
      margin-left: 5px;
    }
  }

  &-col {
    display: none;

    @include mq($from: $breakpoint-small) {
      @include col(4);
      display: inline-block;
    }
  }

  &-mobile {
    display: block;
    @include col(12);

    @include mq($from: 600px) {
      @include col(8);
      @include offset(2);
    }

    @include mq($from: $breakpoint-small) {
      display: none;
    }
  }

  &-item {
    margin-bottom: $gutter-width+rem;

    &-content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      // svg {
      //   position: absolute;
      //   top: 0;
      //   opacity: .1;

      //   @include mq($from: $breakpoint-small) {
      //     top: pxem(-100);
      //   }

      //   &.-blur {
      //     filter: blur(1px);
      //   }
      // }

      img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 0;
        filter: blur(0px);

        @include mq($from: $breakpoint-small) {
          // max-height: pxem(225);
        }

        &.-blur {
          filter: blur(1px);
        }
      }
    }

    &-taproom {
      height: pxem(441);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: pxem(30) pxem(20);

      @include mq($from: $breakpoint-small) {
        height: pxem(315);
      }

      &.-blur {
        filter: blur(5px);
      }

      &-title {
        text-align: center;
        @include semi-24($dark-text);
        text-transform: uppercase;
        margin-bottom: pxem(40);
      }

      &-name {
        text-align: center;
        @include bold-30($color-dark-purple);
        text-transform: uppercase;
      }
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(95, 96, 101, 0.8);
      transition: opacity 240ms $t-1;
      z-index: 1;
      padding: pxem(20);
      flex-direction: column;
      justify-content: space-between;
      display: flex;

      &-title {
        display: flex;
        padding-bottom: pxem(5);
        border-bottom-width: 3px;
        border-bottom-style: solid;
        align-items: center;
        margin-bottom: pxem(10);
      }

      h3 {
        @include bold-20($color-white);
        text-transform: uppercase;
        line-height: 1.1;
      }

      p {
        @include regular-16($color-white);
        margin-bottom: pxem(10);
      }

      a {
        @include bold-18($color-white);
        align-self: flex-start;
        display: none;

        @include mq($from: 850px) {
          display: inline-flex;
        }
      }

      svg {
        font-size: pxem(22);
        margin-right: 8px;
        position: relative;
        color: white;
      }

      &-orange {

        .ni-beer-item-overlay-title {
          border-bottom-color: $color-orange;
        }

        a {
          @include grow-text-underline($color-orange);
        }
      }

      &-gold {

        .ni-beer-item-overlay-title {
          border-bottom-color: $color-gold;
        }

        a {
          @include grow-text-underline($color-gold);
        }
      }

      &-green {

        .ni-beer-item-overlay-title {
          border-bottom-color: $color-green;
        }

        a {
          @include grow-text-underline($color-green);
        }
      }

      &-maroon {

        .ni-beer-item-overlay-title {
          border-bottom-color: $color-maroon;
        }

        a {
          @include grow-text-underline($color-maroon);
        }
      }

      &-red {

        .ni-beer-item-overlay-title {
          border-bottom-color: $color-red;
        }

        a {
          @include grow-text-underline($color-red);
        }
      }
    }
  }
}
