.ni-beer {
  padding: pxem(40) 0;

  &-title {
    margin-bottom: pxem(10);
    @include col(12);
    text-align: left;

    @include mq($from: $breakpoint-small) {
      text-align: center;
      margin-bottom: pxem(50);
    }

    &-container {
      position: relative;
      padding: 0 pxem(8);
      background-color: $body-bg;
      display: inline-block;
      z-index: 1;
    }

    h2 {
      @include plex-bold;
      font-size: 36px;
      line-height: 1.25;
      color: $dark-text;
      position: relative;
    }

    hr {
      z-index: 0;
      width: 100%;
      height: 2px;
      background-color: $color-medium-gray;
      margin-top: pxem(-22);
      display: none;

      @include mq($from: $breakpoint-small) {
        display: inline;
      }
    }
  }

  .ni-row {
    margin-bottom: pxem(20);
  }

  &-item {
    @include col(12);
    margin-bottom: pxem(30);

    @include mq($from: 400px) {
      @include col(6);
    }

    @include mq($from: $breakpoint-small) {
      @include col(4);
    }

    @include mq($from: $breakpoint-medium) {
      @include col(3);
    }

    &-content {
      position: relative;
      display: flex;
      padding-top: 80%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      overflow: hidden;

      @include mq($from: 400px) {
        padding-top: 100%;
      }
    }

    &-taproom {
      height: pxem(441);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: pxem(30) pxem(20);

      @include mq($from: $breakpoint-small) {
        height: pxem(315);
      }

      &.-blur {
        filter: blur(5px);
      }

      &-title {
        text-align: center;
        @include semi-24($dark-text);
        text-transform: uppercase;
        margin-bottom: pxem(40);
      }

      &-name {
        text-align: center;
        @include bold-30($color-dark-purple);
        text-transform: uppercase;
      }
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(95, 96, 101, 0.8);
      transition: opacity 240ms $t-1;
      z-index: 1;
      padding: pxem(20);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;

      img {
        width: 60%;
        margin-bottom: 10px;
      }

      p {
        text-align: center;
        color: $color-white;
      }

      &-orange {
        h3 {
          border-bottom-color: $color-orange;
        }

        a {
          @include grow-text-underline($color-orange);
        }
      }

      &-gold {
        h3 {
          border-bottom-color: $color-gold;
        }

        a {
          @include grow-text-underline($color-gold);
        }
      }

      &-green {
        h3 {
          border-bottom-color: $color-green;
        }

        a {
          @include grow-text-underline($color-green);
        }
      }

      &-maroon {
        h3 {
          border-bottom-color: $color-maroon;
        }

        a {
          @include grow-text-underline($color-maroon);
        }
      }

      &-red {
        h3 {
          border-bottom-color: $color-red;
        }

        a {
          @include grow-text-underline($color-red);
        }
      }
    }
  }
}
