.button {
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  transition: background-color 240ms $t-1;

  &-green {
    background-color: $color-green;
    padding: pxem(17) 0;
    width: 100%;
    @include bold-26($color-white);
    text-transform: uppercase;
    letter-spacing: .5px;

    &:hover {
      background-color: darken($color-green, 15%);
    }
  }
}
