.button {
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  transition: background-color 240ms $t-1;

  &-green {
    background-color: rgba($color-green, 1.0);
    padding: pxem(15) 0;
    border: 2px solid $color-green;
    width: 100%;
    @include semi-24($color-white);
    text-transform: uppercase;

    &:hover {
      background-color: rgba($color-green, 0.0);
      color: $color-green;
    }
  }

  &-knockout {
    background-color: rgba($color-green, 0.0);
    border: 2px solid $color-green;
    padding: pxem(15) 0;
    width: 100%;
    @include semi-24($color-green);
    text-transform: uppercase;

    &:hover {
      background-color: rgba($color-green, 1);
      color: $color-white;
    }
  }

  &-submit {
    background-color: $color-green;
    padding: pxem(15) pxem(40);
    width: 100%;
    @include semi-22($color-white);
    text-transform: uppercase;

    @include mq($from: $breakpoint-small) {
      width: auto;
    }

    &:hover {
      background-color: darken($color-green, 15%);
    }
  }
}

#mc_embed_signup .btn {
  @extend .button;
  border: 0;
  width: 100%;
  margin: 0;
}
