.ni-cta {
  margin-top: pxem(40);
  padding: pxem(60) 0;
  background-image: url('~assets/images/newsletter-cheers-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @include mq($from: $breakpoint-small) {
    padding:pxem(100) 0;
  }

  // @include mq($from: $breakpoint-large) {
  //   padding: pxem(140) 0;
  // }

  .ni-container {
    padding-left: 0;
    padding-right: 0;

    @include mq($from: $breakpoint-small) {
      padding-left: pxem(30);
      padding-right: pxem(30);
    }
  }

  &-card {
    @include span(12);

    @include mq($from: $breakpoint-small) {
      @include col(8);
      @include offset(2);
    }
  }

  &-content {
    @include col(12);

    @include mq($from: $breakpoint-small) {
      @include col(8);
      @include offset(2);
    }

    &-wrapper {
      background-color: $color-white;
      padding: pxem(40) pxem(30);

      @include mq($from: $breakpoint-small) {
        padding: pxem(50) 0;
      }
    }

    h2 {
      @include bold-40($dark-text);
      margin-bottom: pxem(10);
    }

    p {
      @include regular-22($dark-text);
      margin-bottom: pxem(30);
    }
  }

  &-signup {

    form {
      width: 100%;

      .cta-input {
        border: 2px solid $color-gray;
        padding: pxem(15);
        width: 100%;
        @include semi-22($dark-text);
        margin-bottom: pxem(10);
      }
    }

    .button {
      display: block;
    }
  }
}
