.ni-form-events {
  background-color: $color-white;
  margin-top: pxem(100);

  .ni-container {
    padding-top: pxem(80);
    padding-bottom: pxem(80);
  }

  &-title {
    @include col(12);
    margin-bottom: pxem(30);
    margin-top: pxem(-150);

    h2 {
      @include calafia-120($color-green)
    }
  }

  &-text {
    @include col(12);
    margin-bottom: pxem(50);

    @include mq($from: $breakpoint-small) {
      @include col(5);
      @include offset(1);
    }

    p {
      @include regular-18($dark-text);
    }
  }
}
