form {

	.form-group {
		margin-bottom: pxem(20);
		@include col(12);

		@include mq($from: $breakpoint-small) {
			@include col(6);
		}

		&-full {
			@include mq($from: $breakpoint-small) {
				@include col(12);
			}
		}

		label,
		input,
		textarea,
		select {
			display: block;
			width: 100%;
		}

		label {
			@include semi-18($dark-text);
		}

		> label {
			margin-bottom: pxem(10);
		}

		input,
		select,
		textarea {
			border-color: $color-gray;
			border-style: solid;
			border-width: 2px;
			border-radius: pxem(3);
			padding: pxem(15);
			@include regular-20($dark-text);

			&:focus,
			&:active {
				box-shadow: 0 0 3px $color-green;
			}
		}

		textarea {
			height: pxem(145);
		}

		.-error {
			margin-top: pxem(5);
			display: none;
			@include regular-16(red);
		}
	}

	.-form-error {
	  @include regular-16(red);
	  margin: pxem(5) 0;
	}

	&.-error {
	  input,
	  textarea,
	  select {
	    outline: none;
	    border-color: red;
	    box-shadow: 0 0 3px red;
	  }
	}

	.form-submit {
		@include col(12);
	}
}

button {
	cursor: pointer;
}

.select {
	position: relative;
	display: block;
}

label,
input,
textarea,
select {
  display: block;
  width: 100%;
}

label {
  @include semi-18($dark-text);
}

input,
select,
textarea {
  border-color: $color-gray;
  border-style: solid;
  border-width: 2px;
  border-radius: pxem(3);
  padding: pxem(15);
  @include regular-20($dark-text);

  &:focus,
  &:active {
    box-shadow: 0 0 3px $color-green;
  }
}

textarea {
  height: pxem(145);
}

.-error {
  margin-top: pxem(5);
  display: none;
  @include regular-16(red);
}
