.home {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  background-image: url('~/assets/images/home-bg.jpg');
  position: relative;
  overflow-y: hidden;

  &-filter-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.66);
  }

  &-title-text {
    @include col(12);
    padding-top: pxem(125);
    padding-bottom: pxem(160);
    @include calafia-200;

    // @include mq($from: $breakpoint-small ) {
    //   padding: pxem(186) 0 0 11%;
    // }
  }

  &-logo {
    width: pxem(215);
    height: auto;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: pxem(-10);
  }
}
