.ni-nav {
  z-index: 1000;
  padding: pxem(34) 0 pxem(25) 0;
  background-color: transparent;
  margin-bottom: pxem(-106);
  position: relative;
  z-index: 1000;

  .nav-container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  &-logo {
    max-width: pxem(195);
    width: 100%;
    height: auto;
  }

  &-icon {
    display: block;
    z-index: 99999;

    &-dark {
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: $color-black;
        opacity: 1;
      }
    }

    @include mq($from: $breakpoint-small) {
      display: none;
    }
  }

  .hamburger--slider.is-active .hamburger-inner,
  .hamburger--slider.is-active .hamburger-inner::before,
  .hamburger--slider.is-active .hamburger-inner::after {
    background-color: #fff;
  }

  .hamburger:hover {
    opacity: 1;
  }

  &-links {
    list-style: none;
    display: none;
    width: 70%;
    justify-content: flex-end;

    @include mq($from: $breakpoint-small) {
      display: flex;
    }

    li {
      padding: 0 pxem(15);
      display: flex;
      align-items: flex-end;

      &:last-of-type {
        padding: 0 0 0 pxem(15);
      }

      a {
        @include bold-nav-16($color-white);
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    &-dark {
      li {
        a {
          @include bold-nav-16($dark-text);
        }
      }
    }
  }
}
