.ni-partners {
  padding: 0 0 pxem(40) 0;

  &-container {
    @include col(12);
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    hr {
      width: 100%;
      margin: pxem(40) 0;
      height: 2px;
      background-color: $border-gray;
    }
  }

  h2 {
    width: 100%;
    text-align: left;
    @include bold-40($dark-text);
    margin-bottom: pxem(50);

    @include mq($from: $breakpoint-small) {
      text-align: center;
    }
  }

  &-content {
    @include col(12);
    flex-order: 1;
    margin-bottom: pxem(30);

    @include mq($from: $breakpoint-small) {
      @include col(6);
      flex-order: 0;
      margin-bottom: 0;
    }

    @include mq($from: $breakpoint-medium) {
      @include col(6);
      @include offset(1);
    }

    h3 {
      @include bold-36($dark-text);
    }

    a {
      @include semi-24($dark-text);
      @include pretty-text-underline($color-green, 2);
    }

    p {
      @include regular-20($dark-text);
      margin-top: pxem(30);
    }
  }

  &-logo {
    @include col(12);
    text-align: center;
    flex-order: 0;

    @include mq($from: $breakpoint-small) {
      @include col(6);
      flex-order: 1;
    }

    @include mq($from: $breakpoint-medium) {
      @include col(4);
    }

    img {
      max-width: 75%;
      height: auto;
    }
  }
}
