.ni-text-image {
  padding: pxem(40) 0;

  &-img {
    @include col(12);
    margin-left: 0;
    margin-bottom: pxem(30);

    @include mq($from: $breakpoint-small) {
      @include col(5);
      @include offset(1);
      margin-bottom: 0;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  &-text {
    @include col(12);

    @include mq($from: $breakpoint-small) {
      @include col(5);
      padding-top: pxem(10);
    }

    h2 {
      @include bold-40($dark-text);
      margin-bottom: pxem(30);
    }

    p {
      @include regular-20($dark-text);
      margin-bottom: pxem(15);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
