@mixin open-regular {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@mixin open-regular-italic {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
}

@mixin open-semi {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

@mixin open-semi-italic {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: italic;
}

@mixin open-bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

@mixin open-extra {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

@mixin qanelas {
	font-family: 'qanelas_soft_demoextrabold', sans-serif;
	font-weight: 800;
}
