@mixin source-regular {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

@mixin source-regular-italic {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-style: italic;
}

@mixin source-semi {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

@mixin source-semi-italic {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-style: italic;
}

@mixin source-bold {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}

@mixin qanelas {
	font-family: 'qanelas_soft_demoextrabold', sans-serif;
	font-weight: 800;
}