
@mixin plex-regular {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
}

@mixin plex-regular-italic {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
}

@mixin plex-semi {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 500;
}

@mixin plex-semi-italic {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 500;
	font-style: italic;
}

@mixin plex-bold {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 600;
}

@mixin plex-extra {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 700;
}

@mixin qanelas {
	font-family: 'qanelas_soft_demoextrabold', sans-serif;
	font-weight: 800;
}

@mixin calafia {
	font-family: 'calafiaregular', sans-serif;
	font-weight: 400;
}
