// Keeping font mixin names completely decoupled from where they are used by naming with fontWeight-pixelSize
// Pixel Size is based on size for desktop font
// Additional mixins with -no-scale provided for some font instances where mobile scaling isn't necessary

// Quanelas
@mixin q-110 {
  @include qanelas;
  $map: (576px: 60px, 768px: 90px, 992px: 110px);
  line-height: .85;
  letter-spacing: .5px;
  @include poly-fluid-sizing('font-size', $map);
  color: #fff;
  text-transform: uppercase;

  @include mq($from: $breakpoint-small) {
    letter-spacing: 3.25px;
  }
}

@mixin q-80 {
  @include qanelas;
  $map: (576px: 60px, 768px: 70px, 992px: 80px);
  line-height: .94;
  letter-spacing: .5px;
  @include poly-fluid-sizing('font-size', $map);
  color: #fff;
  text-transform: uppercase;

  @include mq($from: $breakpoint-small) {
    letter-spacing: 1.8px;
  }
}

@mixin q-50($color) {
  @include qanelas;
  $map: (576px: 42px, 992px: 50px);
  line-height: 1;
  letter-spacing: .5px;
  @include poly-fluid-sizing('font-size', $map);
  color: $color;
  text-transform: uppercase;
}

@mixin q-40($color) {
  @include qanelas;
  $map: (576px: 36px, 992px: 40px);
  line-height: 1.25;
  letter-spacing: .5px;
  @include poly-fluid-sizing('font-size', $map);
  color: $color;
  text-transform: uppercase;

  @include mq($from: $breakpoint-small) {
    letter-spacing: 2px;
  }
}

// Source Bold
@mixin bold-36($color) {
  @include source-bold;
  $map: (576px: 30px, 992px: 36px);
  line-height: 1.25;
  @include poly-fluid-sizing('font-size', $map);
  color: $color;
}

@mixin bold-26($color) {
  @include source-bold;
  $map: (576px: 20px, 992px: 26px);
  line-height: 1.3;
  @include poly-fluid-sizing('font-size', $map);
  color: $color;
}

@mixin bold-22($color) {
  @include source-bold;
  font-size: pxem(18);
  line-height: 1;  
  color: $color;
}

@mixin bold-18($color) {
  @include source-bold;
  font-size: pxem(18);
  line-height: 1;  
  color: $color;
}

@mixin bold-16($color) {
  @include source-bold;
  font-size: pxem(16);
  line-height: 1;  
  color: $color;
}

// Source Semi
@mixin semi-30($color) {
  @include source-semi;
  $map: (576px: 26px, 768px: 30px);
  line-height: 1.1;
  @include poly-fluid-sizing('font-size', $map);
  color: $color;
}

@mixin semi-24($color) {
  @include source-semi;
  $map: (576px: 20px, 768px: 24px);
  line-height: 1.29;
  @include poly-fluid-sizing('font-size', $map);
  color: $color;
}

@mixin semi-22($color) {
  @include source-semi;
  $map: (576px: 18px, 768px: 22px);
  line-height: 1.25;
  @include poly-fluid-sizing('font-size', $map);
  color: $color;
}

@mixin semi-20($color) {
  @include source-semi;
  $map: (576px: 16px, 768px: 20px);
  line-height: 1.25;
  @include poly-fluid-sizing('font-size', $map);
  color: $color;
}

// Source Regular
@mixin regular-24($color) {
  @include source-regular;
  $map: (576px: 20px, 768px: 24px);
  @include poly-fluid-sizing('font-size', $map);
  line-height: 1.3;
  color: $color;
}

@mixin regular-20($color) {
  @include source-regular;
  $map: (576px: 18px, 768px: 20px);
  @include poly-fluid-sizing('font-size', $map);
  line-height: 1.5;
  color: $color;
}

@mixin regular-18($color) {
  @include source-regular;
  font-size: pxem(18);
  line-height: 1.27;
  color: $color;
}

@mixin regular-16($color) {
  @include source-regular;
  font-size: 16px;
  line-height: 1.19;
  color: $color;
}

// Semibold
// @mixin semi-48($color) {
//   @include source-semi;
//   $map: (576px: 36px, 768px: 48px);
//   line-height: .92;
//   @include poly-fluid-sizing('font-size', $map);
//   color: $color;
// }

// @mixin large-line-semi-48($color) {
//   @include source-semi;
//   $map: (576px: 36px, 768px: 48px);
//   line-height: 1.19;
//   @include poly-fluid-sizing('font-size', $map);
//   color: $color;
// }

// @mixin semi-40($color) {
//   @include source-semi;
//   $map: (576px: 36px, 768px: 40px);
//   line-height: 1.1;
//   letter-spacing: -1;
//   @include poly-fluid-sizing('font-size', $map);
//   color: $color;
// }

// @mixin semi-38($color) {
//   @include source-semi;
//   $map: (576px: 32px, 768px: 38px);
//   line-height: 1.16;
//   letter-spacing: -1;
//   @include poly-fluid-sizing('font-size', $map);
//   color: $color;
// }

// @mixin semi-24($color) {
//   @include source-semi;
//   font-size: 24px;
//   line-height: 1.16;
//   color: $color;
// }

// @mixin semi-nav-24($color) {
//   @include source-semi;
//   $map: (576px: 18px, 768px: 24px);
//   line-height: 2.16;
//   @include poly-fluid-sizing('font-size', $map);
//   color: $color;
// }

// @mixin semi-22($color) {
//   @include source-semi;
//   font-size: 22px;
//   line-height: 1.16;
//   letter-spacing: -0.6;
//   color: $color;
// }

// @mixin semi-20($color) {
//   @include source-semi;
//   font-size: 20px;
//   line-height: 1;
//   letter-spacing: -0.5;
//   color: $color;
// }

// @mixin semi-18($color) {
//   @include source-semi;
//   font-size: 18px;
//   line-height: 1.1;
//   color: $color;
// }

// @mixin semi-16($color) {
//   @include source-semi;
//   font-size: 16px;
//   line-height: 1.375;
//   color: $color;
// }

// @mixin semi-14($color) {
//   @include source-semi;
//   font-size: 14px;
//   line-height: 1.375;
//   color: $color;
// }


// // Regular
// @mixin regular-48($color) {
//   @include source-regular;
//   $map: (576px: 32px, 768px: 48px);
//   @include poly-fluid-sizing('font-size', $map);
//   color: $color;
// }

// @mixin large-line-regular-16($color) {
//   @include source-regular;
//   font-size: 16px;
//   line-height: 1.5;
//   color: $color;
// }

// @mixin regular-16($color) {
//   @include source-regular;
//   font-size: 16px;
//   line-height: 1.375;
//   color: $color;
// }

// @mixin regular-14($color) {
//   @include source-regular;
//   font-size: 14px;
//   line-height: 1.42;
//   color: $color;
// }
